<%- include('partials/header') -%>
    <div class="my-button">
        <form action="/auth">
            <button class="button is-rounded is-large is-link custom-button" action="submit">Log in Through Discord</button>
        </form>
    </div>
<%- include('partials/footer') -%>